<div class="list-container">
    {{#each newData}}
    <div class="user-card">
        <div class="options">
            <form action="/list" method="post">
                <div class="email">
                    <h4>{{this.email}}</h4>
                     <input type="hidden" name="email" value={{this.email}} readonly/>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="exampleRadios1" value="User" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        User
                    </label>
                </div>
                <div class="form-check">
                    {{#if this.isDeveloper}}
                    <input class="form-check-input" type="radio" name="role" id="exampleRadios1" value="Developer" checked>                    {{else}}
                    <input class="form-check-input" type="radio" name="role" id="exampleRadios1" value="Developer"> {{/if}}
                    <label class="form-check-label" for="exampleRadios1">
                        Developer
                    </label>
                </div>
                <div class="form-check">
                    {{#if this.isTA}}
                    <input class="form-check-input" type="radio" name="role" id="exampleRadios1" value="TA" checked> {{else}}
                    <input class="form-check-input" type="radio" name="role" id="exampleRadios1" value="TA"> {{/if}}
                    <label class="form-check-label" for="exampleRadios1">
                        TA
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>